.shadow{
	box-shadow: 0 2px 20px rgba(0,0,0,0.1)!important;
}

.profile-card{
	padding-bottom: 20px !important;
	.profile-card_image{
		img{
			width:200px;
			height:200px;
			border-radius:100%;
			object-fit: cover;
			border:4px solid #fff;
		}
	}
	.profile-card_social{
		position: absolute;
		left:0;
		bottom: 0;
		width:100%;
		img{
			width:33px;
			margin:5px 10px;
		}
	}
}
<<<<<<< HEAD

.videoResponsive {
	padding-bottom:56.25%;
  height:0;
  position:relative;
	padding-top:30px;
	overflow:hidden;
}
.videoResponsive iframe,
.videoResponsive object,
.videoResponsive embed {
	position:absolute;
	left:0;
  top:0;
	width:100%;
	height:100%;
=======
video {
  width: 100%;
  min-width: 300px;
>>>>>>> 5e09a4f (Added presentation and poster, fixed images)
}

@media print {
  nav,
  footer,
  .side-bar,
  .page-header {
    display: none;
  }
  .main-content {
    max-width: auto;
    margin: 1em;
  }
  body {
    font: 12pt Times New Roman;
    line-height: 1;
  }
  @page {
    margin: 2cm;
  }
}
